nav{
    position: fixed;
    height: 100%;
    width: 20%;
    z-index: 2;
    background-color: white;
    border-right: 1px solid rgb(115, 115, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons{
    height: 450px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav button{
    margin: 20px;
    margin-left: 0px;
    width: 100%;
}
nav div:last-child a{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
.border{
    position: absolute;
    bottom: 100px;
    background-color: rgb(190, 190, 190);
    width: 100%;
    height: 1px;
}