.main{
    margin-top: 20px;
    width: 60%;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    button
    {
    width: 20%;
    }

    textarea
    {
    padding-left: 50px;
    }
}