.main{
    margin-top: 20px;
    width: 60%;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main button{
    width: 20%;
}
.main textarea{
    padding-left: 50px;
}