.button{
    width: 15%;
    position: absolute;
}
.div{
  display: flex;
  justify-content: end;
  align-items: end;
  height: 90px;
}
.textarea{
  height: 60%;
  resize: none;
}
.showModal{
  width: 150px;
}
.main{
  display: flex;
  justify-content: center;
  width: 100%;
}