.img{
    margin-left: 10px;
 height: 80%;
 border-radius: 60px;
 margin-right: 10px;
}
.div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div a{
    padding-right: 20px;
    height: 80px;
    border-radius: 40px;
    transition: all ease-in-out 0.2s;
}
.div a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.h2{
    color: black;
    align-self: center;
    
}
.div a:hover{
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}