.aside{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2
    {
    margin: 5px;
    }
}
.img{
    height: 50%;
}
.main{
    height: 740px;
    display: flex;

    aside
    {
    background-color: #000000;
    box-shadow: 5px 0px 15px 5px #000000;
    }

    h2
    {
    color: black;
    }
}
.registration{
    height: 740px;
    display: flex;
    flex-direction: row-reverse;

    button  
    {
    margin: 10px;
    }

    h2
    {
    color: white;
    }

    section
    {
    background-color: black;
    color: white;
    box-shadow: 5px 0px 15px 5px #000000;
    }

    a
    {
    color: white;
    }

    input
    {
    background-color: black;
    border: white 1px solid;
    color: white;
    }

    button
    {
    background-color: white;
    color:black
    }
}
.h1{
    font-size: 600%;
    padding-bottom: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    a
    {
    margin: 10px;
    color: black;
    }
}
input{
    padding: 15px;
    padding-left: 35px;
    border-radius: 20px;
    padding-right: 35px;
    border: 1px solid black;
    margin: 5px; 
}