.main{
    width: 60%;
    justify-self: center;

    textarea
    {
    margin-left: 20px;
    border: 1px solid black;
    width: 80%;
    padding-left: 10px;
    border-radius: 10px;
    }
}
.border{
    border-bottom: 1px solid rgb(224, 224, 224);
}
.banner{
    position: relative;
    width: 100%;
    z-index: 0;
}
.div{
    z-index: 2;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    a
    {
    color: black;
    text-decoration: none;
    margin-left: 40px;
    }
}
.p{
    border-top: 1px solid rgb(224, 224, 224);
    padding-top: 30px;
    padding-left: 40px;
}
.button{
    width: 20%;
    margin: 20px;
}
.img{
    top:440px;
    left: 330px;
    border-radius: 100px;
   position: absolute;
    z-index: 2;
    width: 12%;
}
.h1{
    font-size: 400%;
    margin-left: 40px;
}